<a href="https://colab.research.google.com/github/farisassallami/Food-Sales-Predictions/blob/main/Project_1_Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Food-Sales-Predictions
- *Faris Assallami*

# Project 1 - Part 1

## Loading Data

In [8]:

from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('/content/sales_predictions.csv')
df.info()
df.head()

print(df.isna().sum())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB
Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## Data Cleaning

In [9]:
# Removing columns that contain irrelevant data
df = df.drop(columns=['Item_Identifier', 'Item_Weight','Outlet_Establishment_Year'])

print("After removing 3 irrelevant columns, there are now 8523 rows and 9 columns left")
print()
df.shape
df.head()

After removing 3 irrelevant columns, there are now 8523 rows and 9 columns left

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [10]:
# Checking to see for duplicate rows.
print(df.duplicated().any())
print("There are no duplicates.")

False
There are no duplicates.

In [11]:
# Checking to for missing data
print(df.isna().sum())
print()
print("There are 2410 missing values in the Outlet_Size column ")
print()
print()
df[df.isna().any(axis=1)]
print()
print()
print(df['Outlet_Size'].value_counts())
print()
print()

Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

There are 2410 missing values in the Outlet_Size column




Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [12]:
# Filling in the missing data with the mode value
modeSize = str(df["Outlet_Size"].mode())
print()
df['Outlet_Size'].fillna(value = modeSize, inplace = True)
print(modeSize)

print(df.isna().sum())
print()
print("The Outlet_Size column no longer has missing values as seen in the chart above.")

0    Medium
dtype: object
Item_Fat_Content        0
Item_Visibility         0
Item_Type               0
Item_MRP                0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
dtype: int64

The Outlet_Size column no longer has missing values as seen in the chart above.

In [13]:
# Checking for inconsistencies  in Fat content column
print(df["Item_Fat_Content"].value_counts())
print()
print("--Inconsistent categories found in Item_Fat_Content column.\n LF and low fat will be corrected to Low Fat, and reg will be corrected to Regular")
print()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

--Inconsistent categories found in Item_Fat_Content column.
 LF and low fat will be corrected to Low Fat, and reg will be corrected to Regular

In [14]:
# Replacing inconsistent values with correct value
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')

print(df["Item_Fat_Content"].value_counts())
print()
print("--All inconsistencies have been corrected.")

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

--All inconsistencies have been corrected.

In [15]:
# Statistical description of Data frame.
statistics =  df.describe()
statistics.loc[['mean','min','max']]

      Item_Visibility    Item_MRP  Item_Outlet_Sales
mean         0.066132  140.992782        2181.288914
min          0.000000   31.290000          33.290000
max          0.328391  266.888400       13086.964800

# Project 1 - Part 2

## Explanatory Visuals

## Explanatory Visuals